.chat-box {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message {

}

.user {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 18px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  }
  
.assistant {
    align-self: flex-start;
}

.sender {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}