.talk {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background-color: white;
  width: max(30%, 300px);
  height: 40px;
  padding: 15px;
  z-index: 9999;
  border-radius: 35px;
}
.thearea {
  width: 100%;
  height: 100%;
  z-index: 99999;
  border-radius: 35px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #eee;
}
.send {
  background-color: #eee;
  color: #000;
  border: none;
  padding: 1px;
  border-radius: 20px;
  filter: invert(0%);
  transition: filter ease-in-out 0.2s;
}
.send:hover {
  filter: invert(100%);
}
